* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.conten {
    width: 100%;
    /* 750px */
    height: 100vh;
    /* relative */
    position: fixed;
    /* overflow: hidden; */
    background-size: cover;
    z-index: 0;
    /* en el padre cuadramos e texto */
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: url(img/imagen.jpg);
}

.conten.before {
    content: "anim";
    width: 100%;
    height: 100%;
    display: flex;
    background-color: lawngreen;
    position: absolute;
    opacity: 0.01;
}


/* .conten h1, */

h4 {
    z-index: 1;
    /* position: relative; */
}


/* css navbar */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #04AA6D;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}